{% set currentRoute = app.request.get('_route') %}

<nav id="navbar" class="navbar">
	<ul>
		<li>
			<a class="nav-link scrollto" href="{{ path('home') }}#hero">Accueil</a>
		</li>
		<li>
			<a class="nav-link scrollto" href="{{ path('home') }}#about">A propos</a>
		</li>
		<li>
			<a class="nav-link scrollto {{ currentRoute == 'portfolio_browse' ? 'active' : '' }}" href="{{ path('portfolio_browse') }}">Portfolio</a>
		</li>
		<li>
			<a class="nav-link scrollto {{ currentRoute == 'contact_browse' ? 'active' : '' }}" href="{{ path('contact_browse') }}">Contact</a>
		</li>
	</ul>
	<i class="bi bi-list mobile-nav-toggle"></i>
</nav>
<!-- .navbar -->
