{% extends 'front/base.html.twig' %}

{% block title %}
	Portfolio -
	{{ parent() }}
{% endblock %}

{% block body %}
	<!-- ======= Portfolio Section ======= -->
	<section id="work" class="portfolio-mf sect-pt4 route sect-mt4">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="title-box text-center">
						<h3 class="title-a">
							Portfolio
						</h3>
						<p class="subtitle-a">
							Voici la liste complète de tous mes projets
						</p>
						<div class="line-mf"></div>
					</div>
				</div>
			</div>
			{% for project in projects %}
				<!-- Project start-->
				<div id="{{ project.id }}" class="row mb-4">
					<div class="card mb-3 work-box py-2">
						<div class="row g-0">
							<div class="col-xxl-4 text-center align-self-center">
								<a href="{{ asset('assets/img/' ~ project.image) }}" data-gallery="portfolioGallery" class="portfolio-lightbox">
									<div class="work-img">
										<img src="{{ asset('assets/img/' ~ project.image) }}" alt="..." class="img-fluid">
									</div>
								</a>
							</div>
							<div class="col-xxl-8">
								<div class="work-content">
									<h5 class="w-title">{{ project.title }}</h5>
									<p class="card-text">
										<small class="text-muted">{{ project.summary }}</small>
									</p>
									<div class="w-more">
										<p class="card-text">{{ project.description }}</p>
										{% for category in project.categories %}
											<a class="w-ctegory me-2" href="#">{{ category.name }}</a>
										{% endfor %}
									</div>
									<div class="w-like">
										{% if project.github != null%}
											<a class="" href="{{ project.github }}" target="_blank">
												<span class="bi bi-github"></span>
											</a>
										{% endif %}
										{% if project.url != null%}
											<a class="eye_icon" href="{{ project.url }}" target="_blank">
												<span class="bi bi-eye"></span>
												<span class="bi bi-eye-fill"></span>
											</a>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Project end-->
			{% endfor %}
		</div>
	</section>
	<!-- End Portfolio Section -->
{% endblock %}
