{% extends "back/base.html.twig" %}

{% block title %}
	Modifier un utilisateur
			-
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="col-12">
		<h1 class="mb-3">Modifier un utilisateur</h1>
	</div>
	{{ form_start(form) }}

	{{ form_row(form.username) }}
	{{ form_row(form.password) }}
	{{ form_row(form.firstname) }}
	{{ form_row(form.lastname) }}
	{{ form_row(form.age) }}
	{{ form_row(form.profil) }}
	{{ form_row(form.email) }}
	{{ form_row(form.github) }}
	{{ form_row(form.twitter) }}
	{{ form_row(form.linkedin) }}
	{{ form_row(form.presentation) }}
	{{ form_row(form.image) }}
	{{ form_row(form.skills) }}
	{{ form_row(form.softwares) }}
	{{ form_row(form.operatingSystems) }}

	<button class="btn btn-primary" type="submit">Modifier</button>
	{{ form_end(form) }}
{% endblock %}
