<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
	<a href="{{ path('back_project_browse') }}" type="button" class="btn btn-info">Projets</a>
	<div class="btn-group" role="group">
		<button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
		<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
			<a class="dropdown-item" href="{{ path('back_project_add') }}">Ajouter un projet</a>
		</div>
	</div>
</div>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
	<a href="{{ path('back_category_browse') }}" type="button" class="btn btn-light">Catégories</a>
	<div class="btn-group" role="group">
		<button id="btnGroupDrop2" type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
		<div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
			<a class="dropdown-item" href="{{ path('back_category_add') }}">Ajouter une catégorie</a>
		</div>
	</div>
</div>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
	<a href="{{ path('back_operating_system_browse') }}" type="button" class="btn btn-info">Systèmes d'exploitation</a>
	<div class="btn-group" role="group">
		<button id="btnGroupDrop3" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
		<div class="dropdown-menu" aria-labelledby="btnGroupDrop3">
			<a class="dropdown-item" href="{{ path('back_operating_system_add') }}">Ajouter un système d'exploitation</a>
		</div>
	</div>
</div>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
	<a href="{{ path('back_skill_browse') }}" type="button" class="btn btn-light">Compétences</a>
	<div class="btn-group" role="group">
		<button id="btnGroupDrop4" type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
		<div class="dropdown-menu" aria-labelledby="btnGroupDrop4">
			<a class="dropdown-item" href="{{ path('back_skill_add') }}">Ajouter une compétence</a>
		</div>
	</div>
</div>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
	<a href="{{ path('back_software_browse') }}" type="button" class="btn btn-info">Logiciels</a>
	<div class="btn-group" role="group">
		<button id="btnGroupDrop4" type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
		<div class="dropdown-menu" aria-labelledby="btnGroupDrop4">
			<a class="dropdown-item" href="{{ path('back_software_add') }}">Ajouter un logiciel</a>
		</div>
	</div>
</div>
