<div class="col-7">

	<h3>Nom d'utilisateur</h3>
	<p>{{ user.username }}</p>

	<h3>Profil</h3>
	<p>{{ user.profil }}</p>

	<h3>Présentation</h3>
	<a href="{{ path('back_user_edit_presentation', {id: app.user.id}) }}" class="btn btn-warning my-2 text-dark">Modifier la présentation</a>
	<p>{{ user.presentation | nl2br() }}</p>

</div>
<div class="col-5">
	<h3>Image</h3>
	<img src="{{ asset('assets/img/' ~ user.image) }}" alt="" class="img-fluid">

	<h3 class="mt-2">Liens</h3>
	<ul>
		<li>Linkedin :
			<a href="{{ user.linkedin }}" target="_blank">{{ user.linkedin }}</a>
		</li>
		<li>Twitter :
			<a href="{{ user.twitter }}" target="_blank">{{ user.twitter }}</a>
		</li>
		<li>Adresse mail :
			{{ user.email }}</li>
		<li>GitHub :
			<a href="{{ user.github }}" target="_blank">{{ user.github }}</a>
		</li>
	</ul>

	<a href="{{ path('back_user_edit', {id: user.id}) }}" class="btn btn-warning mt-4 text-dark">Modifier mon profil</a>
	<a href="{{ path('back_home_mail_image') }}" class="btn btn-warning mt-4 text-dark">Modifier l'image du mail de confirmation</a>


</div>
