{% extends "back/base.html.twig" %}

{% block title %}
	Projets -
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="col-12">
		<h1>Tous les projets</h1>
		<a href="{{ path('back_project_add') }}" class="btn btn-primary">Ajouter un projet</a>
	</div>
	<table class="table table-hover mt-3">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Nom</th>
				<th scope="col">Mini-description</th>
				<th scope="col">Création</th>
                <th scope="col">Dernière modification</th>
			</tr>
		</thead>
		<tbody>
			{% for project in projects %}

				<tr class="table-{{ cycle(['secondary', 'light'], loop.index) }}">
					<th scope="row">{{ project.id }}</th>
					<td>{{ project.title }}</td>
					<td>{{ project.summary }}</td>
                    <td>{{ project.createdAt | date('d/m/Y') }}</td>
                    <td>{{ project.updatedAt | date('d/m/Y') }}</td>
				</tr>

			{% endfor %}
		</tbody>
	</table>
{% endblock %}
