{% extends "back/base.html.twig" %}

{% block title %}
	{{ project.title }}
	-
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="col-12">
		<h1 class="mb-3">{{ project.title }}</h1>
	</div>
	<div class="col-8">

		<h3>Mini-description</h3>
		<p>{{ project.summary }}</p>

		<h3>Description</h3>
		<p>{{ project.description }}</p>

		<h3>Date de création</h3>
		<p>{{ project.createdAt | date('d-m-Y H:i') }}</p>

		<h3>Date de dernière modification</h3>
		<p>{{ project.updatedAt | date('d-m-Y H:i') }}</p>

	</div>
	<div class="col-4">
		<h3>Liens</h3>
		<ul>
			<li>Github : <a href="{{ project.github }}">{{ project.github }}</a></li>
			<li>Site web : <a href="{{ project.url }}">{{ project.url }}</a></li>
		</ul>

        <h3>Image</h3>
        <img src="{{ asset('assets/img/' ~ project.image) }}" alt="" class="img-fluid">
	</div>

    <a href="{{ path('back_project_edit', {id: project.id}) }}" class="btn btn-warning mt-4 text-dark">Modifier</a>
{% endblock %}
